* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	border: 10px double red;
/*	border-top: 5px solid blue;*/
/*	border-top-color: red;*/
/*	border-top-width: 10px;*/
/*	border-top-style: dashed;*/
/*	border-right: 5px dotted green;*/
	
	font-size: 1.5rem;
	
	margin: 1.5em;
	
/*	margin: 1.5em 2em 2em; top, right bottom left */
/*	margin: 1.5em 2em;  top-bottom, right-left */
	
	/* margin-top: 1.5em;
	margin-right: 2em;
	margin-bottom: 2em;
	margin-left: 2em; */
	
/*	padding: 1.5em 2em 3em 4em;*/
	padding: 1.5em;
	outline: 5px solid fuchsia;
	outline-offset: 5px;
}

.circle {
	margin: 3rem auto;
	background-color: aqua;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	border-radius: 50px;
}